/* Structure */
.usertable {
  width: 94%;
  margin: 0 auto;
  margin-top: 2%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 94%;
    margin: 0 auto;
  }

  span {
    cursor: pointer;
  }

  .nav {
    width: 100%;
    text-align: center;
  }